<html>

<head>
    <title>Mi web con GitHub Pages</title>
</head>

<body>
    <div id=“app”>
        <h1>Ingresa un número</h1> <input type=“number” v-model=“numero” /> <button @click=“comprobar”>Comprobar</button>
        <p v-if=“mensaje”>{{ mensaje }}</p>
    </div>
    <script src=“https://unpkg.com/vue”></script>
    <script src=“https://unpkg.com/nuxt”></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                numero: null,
                mensaje: null
            },
            methods: {
                comprobar() {
                    if (this.numero > 5) {
                        this.mensaje = 'El número es mayor que 5';
                    } else if (this.numero < 5) {
                        this.mensaje = 'El número es menor que 5';
                    } else {
                        this.mensaje = 'El número es igual a 5';
                    }
                }
            }
        });
    </script>
</body>

</html>